// colors
$white: #ffffff;
$off-white: #f8f8f8;
$light-gray: #e0e0e0;
$gray: #a0a0a0;
$dark-gray: #707070;
$off-black: #404040;
$black: #000000;

// https://www.materialpalette.com/colors
$red: #f44336;
$red-light: #ef9a9a;
$red-pale: #ffebee;
$yellow: #ffc107;
$yellow-light: #ffd54f;
$yellow-pale: #fff8e1;
$green: #4caf50;
$green-light: #a5d6a7;
$green-pale: #e8f5e9;
$blue: #03a9f4;
$blue-light: #81d4fa;
$blue-pale: #e1f5fe;
$purple: #9c27b0;
$purple-light: #ce93d8;
$purple-pale: #f3e5f5;

// theme/accent colors
$theme: $blue;
$theme-light: $blue-light;
$theme-pale: $blue-pale;

// fonts
$sans: "Jost", sans-serif;
$mono: "Inconsolata", monospace;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// transition:
$fast: 0.25s ease;
$slow: 1s ease;

// screen sizes
$tablet: 900px;
$phone: 600px;

// mixins
@mixin trim-v-margins {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
@mixin trim-h-margins {
  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
@mixin circle($angle, $radius) {
  transform: rotate(-$angle) translate(-$radius) rotate($angle)
    translate(-50%, -50%);
}
@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
